// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
// Primary Color
:root {
	--ion-background-color: #DCECD0;
	--ion-color-primary: #b6e3e4;
	--ion-color-primary-rgb: 128,185,186;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #71a3a4;
	--ion-color-primary-tint: #8dc0c1;

	--ion-color-secondary: #f4c6d9;
	--ion-color-secondary-rgb: 248,181,213;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #da9fbb;
	--ion-color-secondary-tint: #f9bcd9;

	--ion-color-tertiary: #c0b4ec;
	--ion-color-tertiary-rgb: 126,96,225;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #6f54c6;
	--ion-color-tertiary-tint: #8b70e4;

	--ion-color-success: #a8d5b4;
	--ion-color-success-rgb: 85,211,118;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #4bba68;
	--ion-color-success-tint: #66d784;

	--ion-color-warning: #eadeae;
	--ion-color-warning-rgb: 241,225,145;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #d4c680;
	--ion-color-warning-tint: #f2e49c;

	--ion-color-danger: #f05663;
	--ion-color-danger-rgb: 240,86,99;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #d34c57;
	--ion-color-danger-tint: #f26773;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

}
