<ion-content [fullscreen]="true" class="intro-content">
  <div class="intro-container">
    <div class="logo-container">
      <img src="../../../../assets/logo-rutix.png" alt="Logo" class="logo">
    </div>
    <h2>Explorez davantage</h2>
    <p>Notre plateforme vous offre la possibilite de créer des listes de taches adaptées à votre mode de vie. </p>
    <ion-button expand="block" color="primary" (click)="goToNext()">Suivant</ion-button>
    <ion-button expand="block" color="light" (click)="goToPrevious()">Précédent</ion-button>
  </div>
</ion-content>