<ion-content [fullscreen]="true" class="intro-content">
  <h2>RUTIX</h2>
  <div class="text-container">
    <p>Notre plateforme vous offre la possibilite de créer des listes de taches adaptées à votre mode de vie.</p>
  </div>
  <div class="image-container">
    <img src="../../../../assets/logo-rutix.png" alt="Logo Rutix" class="logo-image">
  </div>
  <ion-button expand="block" class="next-button" (click)="goToNext()">
    <ion-icon src="../../../../assets/icon/right.svg"></ion-icon>
  </ion-button>
</ion-content>