<ion-content class="oc-style">
  <ion-menu contentId="main-content" menuId="main-menu" side="end" swipeGesture="true">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Routine</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-list>
        <app-routine-list></app-routine-list>
        <!-- Ajoute d'autres éléments de menu ici -->
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="main-container" id="main-content">
    <ion-buttons class="menu-button" (click)="openMenu()">
      <ion-icon name="reorder-three" size="large"></ion-icon>
    </ion-buttons>
    <div class="clock-container-with-menu">
      <div class="clock-container">
        <div class="clock">
          <div class="hour-hand"></div>
          <div class="minute-hand"></div>
          <div class="second-hand"></div>
        </div>
      </div>
    </div>


    <!-- Liste des tâches (petites cartes) -->
    <div class="task-list">
      <ion-list>
        <ion-card *ngFor="let task of tasks; let i = index" class="task-card"  [color]="colors[i % colors.length]" >
          <div class="task-item">
            <ion-label class="task-name">{{ task.name }}</ion-label>
            <ion-label class="task-time">{{ task.taskTime }}</ion-label>
            <ion-icon class="task-icon" name="settings-sharp" slot="end" ></ion-icon>
          </div>
        </ion-card>
      </ion-list>
    </div>


    <!-- Post-it mémo -->
    <div class="memo-container">
      <div class="memo-header">
        <h3>MEMO</h3>
      </div>
      <ion-textarea [(ngModel)]="postItMemo" class="memo" placeholder="Cliquez pour ajouter une note..."></ion-textarea>
      <ion-button expand="block" (click)="saveMemo()">SAUVEGARDER</ion-button>
    </div>

  </div>
</ion-content>
