<ion-content>
  <!-- Boucle sur les questions -->
  <ion-card *ngFor="let question of questions">
    <ion-card-header>
      <ion-card-title>{{ question.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Question :</strong> {{ question.content }}</p>
      <p><strong>Réponse :</strong>
        <span>
          <!-- Vérifie s'il existe une réponse associée à cette question dans la liste userResponseslist -->
          {{ userResponseslist[question.id]?.response || 'Pas de réponse disponible' }}
        </span>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
