<ion-content [fullscreen]="true" class="intro-content">
  <div class="intro-container">
    <div class="logo-container">
      <img src="../../../../assets/logo-rutix.png" alt="Logo" class="logo">
    </div>
    <h2>Rejoignez-nous !</h2>
    <p>Que vous ayez un animal de compagnie, pratiquiez un sport ou ayez des contraintes de santé, RUTIX vous simplifie la gestion de vos taches au quotidien.</p>
    <ion-button expand="block" color="primary" (click)="goToAuth()">Connexion/Inscription</ion-button>
    <ion-button expand="block" color="light" (click)="goToPrevious()">Précédent</ion-button>
  </div>
</ion-content>