<ion-content [fullscreen]="true" class="intro-content">
  <div class="intro-container">
    <div class="logo-container">
      <img src="../../../../assets/logo-rutix.png" alt="Logo" class="logo">
    </div>
    <h2>Dernière étape</h2>
    <p>Prêt à commencer ? Connectez-vous ou inscrivez-vous !</p>
    <ion-button expand="block" color="primary" (click)="goToAuth()">Connexion/Inscription</ion-button>
    <ion-button expand="block" color="light" (click)="goToPrevious()">Précédent</ion-button>
  </div>
</ion-content>