.auth-container {
  width: 90%;
  max-width: 400px;
  margin: 10% auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease-in-out;

  .logo-container {
    margin-bottom: 20px;

    img {
      width: 300px;
      height: auto;
    }
  }

  h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
  }

  .form {
    ion-list {
      margin-bottom: 20px;
    }

    ion-item {
      margin-bottom: 10px;

      .input-field {
        ion-input {
          font-size: 1rem;
          padding: 12px;
          border-radius: 6px;
        }

        ion-icon {
          font-size: 1.2rem;
          color: #555;
        }
      }
    }

    ion-button {
      margin-top: 15px;
      width: 100%;
      font-size: 1rem;
      padding: 12px;
      border-radius: 8px;
      transition: background-color 0.2s;
    }
  }

  /* Ajout de cette partie pour corriger le bouton */
  ion-button[fill="outline"] {
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 1rem;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
  }
}

/* Media Queries */
@media (min-width: 768px) {
  .auth-container {
    max-width: 600px;
    padding: 30px;
  }

  h2 {
    font-size: 2rem;
  }

  ion-button {
    font-size: 1.1rem;
    padding: 15px;
  }
}


.card-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border-radius: 4px;
}
