<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Questionnaire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="currentQuestion" class="ion-padding">
  <div class="question-container">
    <ion-card class="question-card">
      <ion-card-header>
        <ion-card-title class="question-title">{{ currentQuestion.question }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list class="answer-list">
          <ion-radio-group [(ngModel)]="currentResponse">
            <ion-item *ngFor="let answer of currentQuestion.answer" 
                     class="answer-item" 
                     lines="none"
                     (click)="currentResponse = answer">
              <ion-label class="answer-label">{{ answer }}</ion-label>
              <ion-radio [value]="answer" slot="start" class="custom-radio"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>

        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      </ion-card-content>
    </ion-card>

    <div class="navigation-buttons">
      <ion-button expand="block" (click)="nextQuestion()" [disabled]="isNextDisabled()" class="next-button">
        Suivant
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
